</html>
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
      <a href="/" class="nav-link px-2 text-white"><img class="mx-auto d-block" src="images/custom_logo.png" width="55" height="50"></a>
      <p class="col-md-4 mb-0 text-muted">&copy; 2022 portfolio</p>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/aboutMe" class="nav-link px-2 text-white">About</a></li>
        <li><a href="/projects" class="nav-link px-2 text-white">Projects</a></li>
        <li><a href="/services" class="nav-link px-2 text-white">Services</a></li>
        <li><a href="/contacts" class="nav-link px-2 text-white">View Contacts</a></li>
        <li><a href="/update" class="nav-link px-2 text-white">Update Contacts</a></li>
      </ul>
  </footer>
</div>