<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<!--container-->
<div class="container">
  <div class="row">
    <div class="span4"></div>
    <div class="span4"><img class="mx-auto d-block" src="<%= photo %>"/>
    <p class="text-center w-responsive mx-auto mb-5">My name is John Doe</p>
    <p class="text-center w-responsive mx-auto mb-5">I Am a professional computer programmer. My hunger for knowledge and determination to turn information into action has contributed to my most recent success at Upstart Group, There I led a team of programmers in developing state of the art shopping and Data Scrapping websites
    </p>
    <p class="text-center w-responsive mx-auto mb-5">I believe that mindfulness in the workplace is key to success—a tenet I lives out through my interests in yoga, meditation, gardening, and painting</p>
  </div>
</div>
</div><!--container-->
<%- include('partials/footer.ejs') %>